In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

* Cuantitativos 
    - Discretos: Available Extra Rooms in Hospital, staff_available, Age, Visitors with Patient, Stay (in days)
    - Continuos: Admission_Deposit
* Cualitativos
    - Nominales: Department, Ward_Facility_Code, doctor_name, gender, Type of Admission, health_conditions
    - Ordinales: Severity of Illness,
    - Binario: Insurance

In [87]:
df = pd.read_csv('hospitalizaciones_train.csv')

In [88]:
df

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit,Stay (in days)
0,4,gynecology,D,Dr Sophia,0,33070,41-50,Female,Trauma,Extreme,Diabetes,4,Yes,2966.408696,8
1,4,gynecology,B,Dr Sophia,2,34808,31-40,Female,Trauma,Minor,Heart disease,2,No,3554.835677,9
2,2,gynecology,B,Dr Sophia,8,44577,21-30,Female,Trauma,Extreme,Diabetes,2,Yes,5624.733654,7
3,4,gynecology,D,Dr Olivia,7,3695,31-40,Female,Urgent,Moderate,None,4,No,4814.149231,8
4,2,anesthesia,E,Dr Mark,10,108956,71-80,Male,Trauma,Moderate,Diabetes,2,No,5169.269637,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409995,1,gynecology,D,Dr Sarah,1,63105,31-40,Female,Trauma,Minor,Asthama,3,Yes,3902.291076,8
409996,5,gynecology,D,Dr Nathan,5,129292,21-30,Female,Trauma,Extreme,Other,4,No,4771.995223,9
409997,4,gynecology,D,Dr Sarah,9,11399,21-30,Female,Emergency,Minor,Asthama,4,Yes,3816.994210,9
409998,10,gynecology,D,Dr Olivia,10,75003,21-30,Female,Trauma,Moderate,Other,2,Yes,3841.577491,9
409999,3,gynecology,F,Dr Nathan,0,128183,41-50,Female,Trauma,Minor,Other,8,Yes,4329.046412,8

In [91]:
df.drop(['Available Extra Rooms in Hospital','staff_available','patientid','Admission_Deposit'],axis=1,inplace=True)#'gender','Insurance''Ward_Facility_Code''doctor_name'

In [92]:
X=df.iloc[:,0:-1]
y= np.where(df.iloc[:,-1]<=8,0,1)

Tranformo y segun lo pedido.

## ver columnas para codificar

In [96]:
#columnas nominales
ohe_col=['Department', 'Ward_Facility_Code','doctor_name', 'Age', 
     'Type of Admission', 'health_conditions','gender']
#columna ordinal
ord=['Severity of Illness']
#columnas binarias
binar = ['Insurance']

## codifico

## Ordinal

In [97]:
gravedad_enfer = ['Extreme','Moderate','Minor']

In [98]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[gravedad_enfer])

In [99]:
X['Severity of Illness'] = oe.fit_transform(X[['Severity of Illness']])

## label

In [55]:
from sklearn.preprocessing import LabelEncoder
le =  LabelEncoder()

In [56]:
le.fit(X[['Age']])

c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [ ]:
X['Age'] = le.transform(X[['Age']])

## LaberlBinarizer

In [100]:
X['Insurance'] = X['Insurance'].map({'Yes':1,'No':0})

## OneHotEncoder

In [101]:
df_copy=X.copy()

In [102]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
# ohe.fit_transform(df_copy[['Department']]).toarray()

In [103]:
for col in ohe_col:
    df_dep = pd.DataFrame(ohe.fit_transform(df_copy[[col]]).toarray(),columns=[col+'_'+str(ohe.categories_[0][i])for i in range(len(ohe.categories_[0]))])
    df_copy = pd.concat([df_copy,df_dep],axis=1)
    df_copy.drop(col,axis=1,inplace=True)

In [107]:
df_copy

,Severity of Illness,Visitors with Patient,Insurance,Department_TB & Chest disease,Department_anesthesia,Department_gynecology,Department_radiotherapy,Department_surgery,Ward_Facility_Code_A,Ward_Facility_Code_B,...,Type of Admission_Urgent,health_conditions_Asthama,health_conditions_Diabetes,health_conditions_Heart disease,health_conditions_High Blood Pressure,health_conditions_None,health_conditions_Other,gender_Female,gender_Male,gender_Other
0,0.0,4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2.0,2,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,2,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,4,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,1.0,2,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409995,2.0,3,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
409996,0.0,4,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
409997,2.0,4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
409998,1.0,2,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
409999,2.0,8,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [172]:
df_copy['estadia_larga'] = y

In [174]:
df_copy.to_csv('df_trans_train.csv',index=False)